.artist-image-profile{
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.color-333{
    background-color: #333;	
}
.margin-top-44{
    margin-top: 44px;
}
.artist-image-list{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#myInput {
    background-image: url('../images/search-icon.png'); /* Add a search icon to input */
    background-position: -1px 6px;
    background-size: 38px;
    background-repeat: no-repeat;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid rgb(221, 221, 221); /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
  
#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    margin-bottom: 60px;
}
  
#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}
  
#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}
  
#myTable tr.head-of-table, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #464646;
}

.clickable-row {
    cursor: pointer;
}
.select2-selection{
    background-color: #333 !important;
}
.select2-selection__rendered{
    color: #666 !important;
}
.plus-icon-css{
    position: relative !important;
    left: 175px !important;
    top: 150px !important;
}

.discount-css{
    position: relative;
    float: right;
}
.like-css{
    position: relative;
    left: 169px;
    top: 105px;
    color:red;
}